---
nodes:
{% for item in lab_tripleo_overcloud_nodes %}
  - name: "{{ item.name }}"
    pm_type: "fake_pxe"
    mac:
      - "{{ item.mac }}"
    arch: "x86_64"
    cpu: "{{ lab_tripleo_overcloud_cpus }}"
    memory: "{{ item.ram }}"
    disk: "{{ item.size }}"
    capabilities: "{{ item.capabilities }}"
{% endfor %}
